@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
    background: #FFFFFF;
    font-family: "Lato", sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    background: #222222;
    color: #E8E8E8;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 18px 32px;
}

.navigation__left {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 41px;
}

.navigation__right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 33px;
}

.navigation__left button,
.navigation__right button {
    background: none;
    border: none;
}

.banner {
    margin-bottom: 65px;
    display: flex;
    align-items: center;
    background: #F1E4E6;
    max-width: 1600px;

}

.banner__img {
    width: 50%;
}

.banner__content {
    padding-left: 64px;
}

.banner__info {
    border-left: 12px solid#F16D7F;
    padding-left: 19px;
}

.banner__content h1 h2 {
    color: #222222;
}

.banner__content-title {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
}

.banner__content-heading {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.colortext {
    color: #F16D7F;
}

.category {
    margin-bottom: 96px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

.category__catalogs {
    flex: 1 1 calc(33.333% - 20px);
    min-height: 260px;
    cursor: pointer;
}

.category__catalog-1 {
    background-image: url(./img/middleBlock1.png);
}

.category__catalog-2 {
    background-image: url(./img/middleBlock2.png);
}

.category__catalog-3 {
    background-image: url(./img/middleBlock3.png);
}

.category__catalog-4 {
    flex-basis: 100%;
    min-height: 180px;
    background-image: url(./img/middleBlock4.png);
}

.category__catalog-darkening {
    background: rgba(33, 22, 22, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category__catalog-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.category__catalog-colortext {
    color: #F16D7F;
    font-size: 24px;
}

.product {
    margin-bottom: 60px;
}

.productCard__launch {
    text-align: center;
    font-weight: 400;
}

.productCard__launch-featured {
    margin-bottom: 6px;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.productCard__launch-week {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin-bottom: 48px;
}

.productCard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 48px;
}

.productCard__card {
    background: #F8F8F8;
    cursor: pointer;
}

.productCard__content {
    padding: 24px 30px 24px 16px;
    display: flex;
    flex-direction: column;
}

.productCard__content-name {
    margin-bottom: 13px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.productCard__content-description {
    margin-bottom: 16px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.productCard__content-price {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.productCard__btm {
    display: flex;
    justify-content: center;
    margin-bottom: 95px;
}

.productCard__btm-bot {
    padding: 15px 39px 14px 39px;
    border: 1px solid #FF6A6A;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    background: #FFFFFF;
    color: #F26376;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.information {
    padding: 104px 230px;
    background: #222224;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.information__detailed {
    width: 360px;
    height: 134px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #FBFBFB;
}

.information__detailed-icon {
    margin-bottom: 26px;
}

.information__detailed-middle {
    margin-bottom: 19px;
}

.information__detailed h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 16px;
}

.information__detailed p {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #FBFBFB;
}

.subscription {
    align-items: center;
    text-align: center;
    color: #222224;
}

.subscription__img {
    background-image: url(./img/subscribe_image.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.subscription__bg {
    padding-top: 97px;
    padding-bottom: 156px;
    background: rgba(244, 244, 244, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 224px;
    align-items: center;
}

.subscription__content {
    width: 360px;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscription__foto {
    margin-bottom: 30px;
}

.subscription__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.subscription__text-different {
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.subscribe {
    width: 557px;
    height: 142px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.subscribe__sb-text {
    font-weight: 700;
    font-size: 24px;
}

.subscribe__sb-content {
    font-weight: 400;
    font-size: 18px;
    line-height: 167.2%;
    margin-bottom: 32px;
}

.subscribe__btn {
    width: 356px;
    height: 49px;
    display: flex;
    justify-content: center;
}

.subscribe__btn-text {
    padding: 7px 64px 6px 22px;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    background: #E1E1E1;
    color: #222224;
    opacity: 0.67;
    border-radius: 25px 0 0 25px;
}

.subscribe__btn-btn {
    padding: 17px 20px 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: none;
    display: flex;
    align-items: center;
    background: #F16D7F;
    color: #FFFFFF;
    border-radius: 0 25px 25px 0;
}

.footer {
    background: #222222;
}

.footer__container {
    padding: 24px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__brend {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.footer__social_media {
    display: flex;
    justify-content: center;
    gap: 7px;
}

@media(min-width: 768px) and (max-width: 1024px) {
    .container {
        max-width: 736px;
    }

    .navigation {
        padding: 18px 32px;
    }

    .banner__content {
        padding-left: 39px;
    }

    .banner__content-title {
        font-size: 44px;
        line-height: 53px;
    }

    .banner__content-heading {
        font-size: 24px;
        line-height: 29px;
    }

    .category {
        width: 736px;
        height: 303px;
        gap: 19px;
    }

    .category__catalogs {
        min-height: 167px;
    }

    .category__catalog-4 {
        min-height: 116px;
    }

    .productCard {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 16px;
        margin-bottom: 33px;
    }

    .information {
        flex-direction: column;
        align-items: center;
        gap: 48px;
    }

    .information__detailed-icon {
        margin-bottom: 28px;
    }

    .information__detailed-middle {
        margin-bottom: 19px;
    }

    .subscription__img {
        background-repeat: no-repeat;
        background-size: cover;

    }

    .subscription__bg {
        padding: 64px 0 140px;
        flex-direction: column;
        align-items: center;
        gap: 48px;
    }

    .footer__container {
        padding: 24px 32px;
    }
}

@media(min-width: 320px) and (max-width: 767px) {
    .container {
        max-width: 344px;
    }

    .hide {
        display: none;
    }

    .navigation {
        padding: 18px 16px;
    }

    .banner {
        justify-content: center;
        align-items: center;
        min-width: 375px;
        min-height: 363px;
    }

    .banner__info {
        white-space: nowrap;
    }

    .banner__content {
        padding-left: 0;
        max-width: 263px;
    }

    .banner__content-title {
        font-weight: 900;
        font-size: 38px;
        line-height: 46px;
    }

    .banner__content-heading {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
    }

    .category {
        flex-direction: column;
        gap: 32px;
        margin-bottom: 64px;
    }

    .category__catalogs {
        flex-basis: 343px;
        min-height: 247px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .category__catalog-4 {
        min-height: 111px;

    }

    .productCard {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 41px;
    }

    .productCard__card {
        width: 343px;
        height: 560px;
    }

    .information {
        padding: 48px 13px 81px;
        flex-direction: column;
        align-items: center;
        gap: 46px;
    }

    .information__detailed-icon {
        margin-bottom: 28px;
    }

    .information__detailed-middle {
        margin-bottom: 19px;
    }

    .subscription__img {
        background-repeat: no-repeat;
        background-size: cover;
    }

    .subscription__bg {
        padding: 50px 0 110px;
        flex-direction: column;
        align-items: center;
        gap: 48px;
        width: 610px;
        height: 550px;
    }

    .subscription__content {
        width: 343px;
        height: 194px;
    }

    .subscribe {
        width: 341px;
        height: 123px;
    }

    .footer__container {
        padding: 24px 32px;
    }

}